body {
  font-feature-settings: "kern";
  font-kerning: normal;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  overflow-scrolling: touch;
  font-style: normal;
  @include regular;
}

#app {
  max-width: 800px;
  width: 100%;
  margin: 80px auto 0;
}

.input__wrapper {
  display: block;
  position: relative;
  max-width: 350px;
  width: 100%;
  input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 30px;
    border: 1px solid $grey;
    border-radius: 5px;
    &:focus {
      border-color: darken($grey, 25%);
      outline: none;
    }
  }
  .clear-value {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 6px;
    top: 50%;
    margin-top: -9px;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
}

.btn {
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}
