.todo-create {
  &__wrapper {
    .title {
      margin-bottom: 10px;
      font-size: 22px;
      @include medium;
    }
  }

  &__form {
    @extend %flex-start;
    align-items: center;
    .btn {
      margin-left: 15px;
    }
  }
}
