.todo-list {
  margin-top: 40px;
  .title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .tabs__header {
    margin-bottom: 15px;
    @extend %flex-start;
    align-items: center;

    .tab {
      width: 165px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.active {
        border-color: darken($grey, 15%);
      }
    }
  }

  .empty-list__text {
    color: $grey;
    font-size: 16px;
  }
}
