.todo {
  position: relative;
  max-width: 515px;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid $grey;
  @extend %flex-between-center;

  .title {
    &:first-letter {
      text-transform: uppercase;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2px;
    .accept {
      margin-right: 10px;
    }
    > div {
      cursor: pointer;
    }
  }

  .date {
    position: absolute;
    right: 0;
    bottom: 5px;
    color: $grey;
    cursor: default;
  }
}
