<template>
  <div class="todo-list">
    <div class="title">Список дел:</div>

    <div class="tabs__header">
      <div
          class="tab btn"
          :class="{active: activeTab === index}"
          v-for="(tab, index) in 3"
          :key="index"
          @click="changeTab(index)"
      >{{ activeTabText(index) }}</div>
    </div>
    <template v-if="this.activeTab === 0">
      <template v-if="ACTIVE_TODOS.length">
        <todo-active
            v-for="(item, index) in ACTIVE_TODOS"
            :key="index"
            :todo="item"
            :index="index"
        />
      </template>
      <div v-else class="empty-list__text">Нет запланированных дел</div>
    </template>
    <template v-if="this.activeTab === 1">
      <template v-if="DONE_TODOS.length">
        <todo-done
            v-for="(item, index) in DONE_TODOS"
            :key="index"
            :todo="item"
            :index="index"
        />
      </template>
      <div v-else class="empty-list__text">Нет выполненных дел</div>
    </template>
    <template v-if="this.activeTab === 2">
      <template v-if="REMOVED_TODOS.length">
        <todo-deleted
            v-for="(item, index) in REMOVED_TODOS"
            :key="index"
            :todo="item"
            :index="index"
        />
      </template>
      <div v-else class="empty-list__text">Нет удаленных дел</div>
    </template>
  </div>
</template>

<script>
import TodoActive from '@/components/todo-items/todo-active'
import TodoDone from '@/components/todo-items/todo-done'
import TodoDeleted from '@/components/todo-items/todo-deleted'
import { mapGetters } from 'vuex'
export default {
  name: 'app-todo-list',
  components: { TodoActive, TodoDone, TodoDeleted },
  data () {
    return {
      activeTab: 0,
      tabText: 'Активные'
    }
  },
  computed: {
    ...mapGetters([
      'ACTIVE_TODOS',
      'DONE_TODOS',
      'REMOVED_TODOS'
    ])
  },
  methods: {
    activeTabText (index) {
      switch (index) {
        case 0:
          return 'Активные'
        case 1:
          return 'Выполненные'
        case 2:
          return 'Удаленные'
        default:
          return 'Активные'
      }
    },
    changeTab (index) {
      this.activeTab = index
    }
  }
}
</script>

<style scoped>

</style>
