<template>
  <div class="todo-create__wrapper">
    <div class="title">Не забыть:</div>
    <div class="todo-create__form">
      <label class="input__wrapper">
        <input @keydown.enter="addTodo" type="text" v-model="todoText" placeholder="Например: купить молоко">
        <span v-if="todoText" @click="clearValue" class="clear-value">
          <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 9L9 15" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9 9L15 15" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
      </label>
      <div class="btn btn__success" @click="addTodo">Добавить</div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as moment from 'moment'

export default {
  name: 'create-todo',
  data () {
    return {
      todoText: ''
    }
  },
  methods: {
    ...mapMutations([
      'ADD_TODO'
    ]),
    clearValue () {
      this.todoText = ''
    },
    addTodo () {
      const payload = {
        created_at: moment.utc(),
        text: this.todoText
      }

      this.ADD_TODO(payload)
      this.clearValue()
    }
  }
}
</script>

<style scoped lang="scss">

</style>
