<template>
  <div>
    <div class="todo todo-active">
      <div class="title">{{ todo.text }}</div>
      <div class="actions">
        <div class="accept" @click="acceptTodo()">
          <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999" stroke="#1AB759" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M22 4L12 14.01L9 11.01" stroke="#1AB759" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="delete" @click="removeTodo()">
          <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#E93C3C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 9L9 15" stroke="#E93C3C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9 9L15 15" stroke="#E93C3C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
      <div class="date">{{ getDate(todo.created_at) }}</div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { todoMixin } from '@/mixins/todo-mixin'

export default {
  name: 'todo-active',
  mixins: [todoMixin],
  props: {
    todo: {
      type: Object
    },
    index: {
      type: Number,
      default: 0
    }
  },
  methods: {
    ...mapActions([
      'UPDATE_TODO'
    ]),
    acceptTodo () {
      const payload = {
        index: this.index,
        action: 'done',
        todoInfo: { ...this.todo }
      }
      this.UPDATE_TODO(payload)
    },
    removeTodo () {
      const payload = {
        index: this.index,
        action: 'remove',
        todoInfo: { ...this.todo }
      }
      this.UPDATE_TODO(payload)
    }
  }
}
</script>

<style scoped>

</style>
