<template>
  <div>
    <div class="todo todo-done">
      <div class="title">{{ todo.text }}</div>
      <div class="date">{{ getDate(todo.created_at) }}</div>
    </div>
  </div>
</template>

<script>
import { todoMixin } from '@/mixins/todo-mixin'

export default {
  name: 'todo-done',
  mixins: [todoMixin],
  props: {
    todo: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
