<template>
  <div id="app">
    <create-todo />
    <app-todo-list />
  </div>
</template>

<script>

import CreateTodo from '@/components/create-todo'
import AppTodoList from '@/components/app-todo-list'
export default {
  name: 'App',
  components: {
    AppTodoList,
    CreateTodo

  }
}
</script>

<style lang="scss">
  @import "assets/scss/main";
</style>
