@function scale-value($minValue, $maxValue, $minSize, $maxSize) {
  @return calc(
          #{$minValue}px + (#{$maxValue} - #{$minValue}) * ((100vw - #{$minSize}px) / (#{$maxSize} - #{$minSize}))
  );
}

@function scale-valueVH($minValue, $maxValue, $minSize, $maxSize) {
  @return calc(
          #{$minValue}px + (#{$maxValue} - #{$minValue}) * ((100vh - #{$minSize}px) / (#{$maxSize} - #{$minSize}))
  );
}

/******************************************/

@mixin thin {
  font-weight: 100;
}

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: normal;
}

@mixin medium {
  font-weight: 500;
}

@mixin bold {
  font-weight: bold;
}

@mixin black {
  font-weight: 900;
}


@mixin line-clamp($lines, $max-width) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  max-width: $max-width;
}

@mixin centerImg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
}
@mixin appearance-none {
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
  left: -10000px;
  clip: rect(0 0 0 0);
  z-index: -1;
}

/******************************************/

%flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-flow: row;
}

%cover-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%contain-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}




