<template>
  <div>
    <label>
      <span>{{ title }}</span>
      <input type="text" ref="todoTitile">
    </label>
  </div>
</template>

<script>
export default {
  name: "todo-input",
  props: {
    title: {
      type: String,
      default: 'Что нужно сделать?'
    }
  }
}
</script>

<style scoped>

</style>
